.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gold;
}

.heading_div
{
    float: none;
    background:seagreen;
padding: 10px;
border-radius: 20px;
color: midnightblue;
box-shadow: gold;
}

.heading_div2
{
    font-size: 18px;
}